requests
Pillow
django
djangorestframework
psycopg2
redis
https://github.com/gazoon/fakeredis/archive/master.zip
phonenumbers
https://github.com/gazoon/django-phonenumber-field/archive/develop.zip
django-bulk-update
